:root {
	--space-0: 0;
	--space-1: 2px;
	--space-2: 4px;
	--space-3: 8px;
	--space-4: 12px;
	--space-5: 16px;
	--space-6: 20px;
	--space-7: 24px;
	--space-8: 32px;
	--space-9: 40px;
	--space-10: 48px;
	--space-11: 64px;
	--space-12: 80px;
	--space-13: 96px;
	--space-14: 128px;

	--radius-xs: 4px;
	--radius-sm: 6px;
	--radius-md: 8px;
	--radius-lg: 12px;
	--radius-xl: 16px;
	--radius-2xl: 24px;
	--radius-full: 9999px;

	--sidebar-width: 240px;
	--titlebar-height: 38px;
	--player-height: 96px;
	--content-max-width: 1600px;
}
